$w: 100%;
.Start {
	z-index: 11;
	position: relative;
	color: #fff;
	cursor: default;
	padding: 200px 0;
	background-image: url("../../../assets/images/beach.png");
	background-size: cover;
	background-position: center;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
	// box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
	text-align: left;
	.content {
		width: $w;
		max-width: 1240px;
		margin: 0 auto;
		.text {
			width: 100%;
			max-width: 1240px;
			margin: 0 auto;
			& > .h {
				font-weight: bold;
				font-size: 48px;
				margin: 30px 0;
			}
			& > .p {
				font-size: 18px;
			}
		}
		.icon,
		.tel,
		.button {
			display: none;
		}
	}
}
@media (max-width: 1112px) {
	.Start {
		.content {
			width: 90%;
		}
	}
}
@media (max-width: 768px) {
	.Start {
		text-align: center;
		display: block;
		padding: 100px 10px 0 10px;
		background-position: 25%;
		box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.15);
		.content {
			.text {
				text-align: left;
				display: block;
				text-shadow: 0 2px 4px rgba(0, 0, 0, 0.95);
				& > .h {
					font-size: 28px;
					margin: auto 0;
				}
				& > .p {
					font-size: 18px;
					font-weight: 300;
					margin: 50px 0;
				}
			}
			.icon,
			.tel,
			.button {
				display: flex;
			}
			.icon {
				.link {
					& > img {
						width: 50px;
					}
				}
			}
			.tel {
				font-weight: 600;
				font-size: 20px;
				margin: 30px auto;
			}
			.button {
				text-shadow: none;
				align-items: center;
				justify-content: center;
				text-decoration: none;
			}
		}
	}
}
