$max: 100%;
.Header {
	z-index: 100;
	top: 0;
	height: 80px;
	width: $max;
	.toolbar {
		width: $max;
		max-width: 1240px;
		margin: 0 auto;
		.toolbar__navigation {
			display: flex;
			align-items: center;
			.toolbar__logo {
				display: flex;
				align-items: center;
				width: 100px;
				height: 80px;
				.link {
					font-weight: bold;
					font-size: 22px;
					color: #fff;
				}
			}
			.toolbar_navigation-items {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				width: $max;
				height: 80px;
				& > ul {
					width: $max;
					display: flex;
					justify-content: flex-end;
					:last-child {
						text-align: right;
						width: 130px;
					}
					& > li {
						width: 200px;
						text-align: center;
						.link {
							font-size: 18px;
							color: #fff;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 1112px) {
	.Header {
		.toolbar {
			width: 90%;
		}
	}
}
@media (max-width: 834px) {
	.Header {
		.toolbar {
			.toolbar__navigation {
				width: $max;
				.toolbar_navigation-items {
					& > ul {
						:nth-child(3) {
							width: 100px;
						}
						& > li {
							text-align: right;
							width: 150px;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.Header {
		height: 50px;
		ul {
			li {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 50px;
				.link {
					color: #ff7b51;
					font-size: 18px;
				}
			}
		}
		.toolbar {
			z-index: 399;
			position: fixed;
			background: #ff7b51;
			width: $max;
			height: 50px;
			.toolbar__navigation {
				padding: 0;
				height: 50px;
				box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
				.toolbar__logo {
					position: absolute;
					right: 5%;
					width: $max - 10%;
					min-width: 200px;
					height: auto;
					font-size: 21px;
					.link {
						text-align: center;
						width: $max;
						color: #fff;
						font-size: 21px;
						text-transform: uppercase;
					}
				}
				.toolbar_navigation-items {
					display: none;
				}
				.side-drawer {
					z-index: 200;
					position: fixed;
					height: $max;
					background: white;
					box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
					top: 0;
					left: 0;
					width: 70%;
					max-width: 400px;
				}
			}
		}
		.toggle-button {
			z-index: 1;
			position: absolute;
			left: 10px;
			top: 15px;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			height: 24px;
			width: 30px;
			background: transparent;
			cursor: pointer;
			.toggle-button__line {
				width: 30px;
				height: 3px;
				background: white;
				border-radius: 10px;
				box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
			}
		}
		.side-drawer {
			z-index: 299;
			position: fixed;
			height: $max;
			background: #fff;
			box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
			top: 0;
			left: 0;
			width: 70%;
			max-width: 400px;
			animation: slide;
			animation-duration: 1.5s;
			& > ul {
				display: flex;
				flex-direction: column;
				justify-content: center;
				height: $max;
				animation: move;
				animation-duration: 1.1s;
				& > div {
					display: flex;
					align-items: center;
					justify-content: center;
					margin: 0.5rem 0;
					height: 50px;
					& > .link {
						color: #ff7b51;
						font-size: 1.2rem;
						&:hover {
							color: #ff7b51;
						}
					}
				}
			}
		}
		.backdrop {
			z-index: 199;
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.7);
			animation: opacity;
			animation-duration: 1s;
		}
	}
}
