$max: 100%;
@mixin size {
	width: 48%;
}
@mixin style {
	border-radius: 8px;
	box-shadow: 0 0.1rem 0.5rem #2022241a, 0 0.5rem 1rem -0.75rem #2022241a;
}
@mixin reset-size {
	float: none;
	width: $max;
	max-width: $max;
}
@mixin width-front {
	width: 50%;
	font-size: 24px;
}
.Services {
	padding: 100px 10px 0 10px;
	width: $max;
	margin: auto;
	text-align: center;
	.title {
		font-size: 36px;
		text-align: center;
	}
	.service {
		width: $max;
		max-width: 1240px;
		margin: 100px auto;
		.contentShow {
			@include style;
			margin: 0 auto;
		}
		.wrapper-serv__cart {
			display: flex;
			justify-content: space-between;
			.wrapper-serv {
				max-width: 45%;
				display: block;
				justify-content: space-between;
				.content-column {
					@include reset-size;
					display: block;
					.content {
						width: $max;
						display: flex;
						justify-content: space-between;
						transform: none;
						padding: 10px;
						box-shadow: 0 0.1rem 0.5rem #2022241a, 0 0.5rem 1rem -0.75rem #2022241a;
						&:hover {
							box-shadow: 0 0.1rem 0.5rem #2022241a, 0 0.5rem 1rem -0.75rem #2022241a !important;
						}
						.image {
							width: 40%;
							& > img {
								width: $max;
								max-width: 550px;
							}
						}
						.text {
							width: 55%;
							text-align: right;
							& > .title {
								font-size: 24px;
								text-align: left;
							}
							& > .info {
								text-align: left;
								margin: 20px 0;
								color: #848484;
							}
							& > .price {
								text-align: left;
								color: #848484;
							}
							.button {
								width: 140px;
								height: 40px;
								margin: 20px 0 0 0;
								color: #ff7b51;
								background: #fff;
								box-shadow: none;
								outline: 1px solid #ff7b51;
								transform: none;
								&:hover {
									box-shadow: none !important;
								}
							}
						}
					}
					.content:nth-child(2) {
						margin: 40px auto;
					}
					.addBed {
						display: none;
					}
				}
			}
			.cart {
				padding: 25px 30px;
				text-align: right;
				@include size;
				@include style;
				& > .title {
					text-align: left;
					display: flex;
					.p:last-child {
						color: #848484;
						margin-left: 10px;
					}
				}
				& > .content {
					margin: 10px 0;
				}
				& > .link {
					& > .button {
						background: #408cff;
						&:hover {
							color: #408cff;
							background: #fff;
							outline: 1px solid #408cff;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 1112px) {
	.Services {
		.service {
			.wrapper-serv__cart {
				.wrapper-serv {
					.content-column {
						.content {
							.text {
								& > .title {
									font-size: 20px;
								}
								& > .button {
									font-size: 12px;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 834px) {
	.Services {
		.service {
			.wrapper-serv__cart {
				.wrapper-serv {
					.content-column {
						.content {
							.text {
								& > .title {
									font-size: 16px;
								}
								& > .info {
									font-size: 12px;
								}
								& > .price {
									font-size: 12px;
								}
								& > .button {
									font-size: 12px;
									width: 120px;
									height: 35px;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.Services {
		.title {
			font-size: 22px;
		}
		.service {
			.contentShow {
				@include reset-size;
				margin: 50px auto;
			}
			.wrapper-serv__cart {
				display: block;
				.wrapper-serv {
					max-width: $max;
					& > .title {
						display: none;
					}
					.content-column {
						display: block;
						.content {
							width: 60%;
							padding: 15px 10px;
							margin: 0 auto;
							border-radius: 8px;
							.text {
								width: 55%;
								max-width: $max;
								& > .title {
									text-align: left;
								}
								& > .p {
									width: $max;
								}
								& > .button {
									font-size: 14px;
									width: 100px;
									height: 35px;
								}
							}
						}
					}
				}
				.cart {
					width: 60%;
					text-align: center;
					margin: 50px auto;
					& > .title {
						text-align: left;
					}
					& > .content {
						margin: 10px 0;
					}
					.link {
						.button {
							margin: 30px 0 0 0;
							width: 160px;
							height: 40px;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 414px) {
	.Services {
		.service {
			margin: 0;
			.contentShow {
				margin: 0;
			}
			.wrapper-serv__cart {
				.wrapper-serv {
					.content-column {
						.content {
							width: $max;
							display: block;
							.image {
								width: $max;
								& > img {
									width: $max;
									max-height: 250px;
								}
							}
							& > .text {
								padding: 0;
								width: $max;
								align-items: center;
							}
						}
					}
				}
				.cart {
					width: $max;
				}
			}
		}
	}
}
