@media (max-width: 768px) {
	.toggle-button {
		z-index: 1;
		position: absolute;
		left: 10px;
		top: 15px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 24px;
		width: 30px;
		background: transparent;
		cursor: pointer;
	}
	.toggle-button__line {
		width: 30px;
		height: 3px;
		background: white;
		border-radius: 10px;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	}
}
