$max: 100%;
$middle: 50%;
.Rooms {
	.component {
		flex-direction: column;
		text-align: center;
		margin: 100px auto;
		padding: 30px 0;
		max-width: 1240px;
		.title {
			font-size: 48px;
			text-align: center;
		}
		.add-filter {
			text-align: left;
			font-size: 18px;
			margin: 15px 0;
		}
		.filter {
			width: $max;
			max-width: 1240px;
			text-align: left;
			.wrapper-filter {
				display: flex;
				justify-content: space-between;
				width: $max;
				.custom-select {
					margin: 0;
					width: 50%;
					max-width: 1240px;
					display: flex;
					.css-2b097c-container {
						width: 33%;
						height: 50px;
						font-size: 16px;
					}
				}
				.button_block {
					width: 20%;
					.button {
						float: right;
						width: 90%;
						height: 50px;
						margin: 0;
					}
				}
			}
		}
		.component-flex {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			width: $max;
			padding: 25px 30px;
			margin: 40px auto;
			box-shadow: 0 0.1rem 0.5rem rgba(32, 34, 36, 0.1),
				0 0.5rem 1rem -0.75rem rgba(32, 34, 36, 0.1) !important;
			.flex {
				width: $middle - 2%;
				.carousel {
					height: 25rem;
					.carousel-inner {
						height: 25rem;
						.carousel-item {
							img {
								width: $max;
								height: 25em;
							}
						}
					}
				}
				.text {
					display: flex;
					flex-direction: column;
					text-align: left;
					color: #848484;
					.text__title_wrrapper {
						display: flex;
						margin-bottom: 20px;
						.title:first-child {
							width: $middle + 15%;
						}
						.title {
							width: $middle;
							text-align: left;
							color: #000;
							font-size: calc(0.3rem + 16px);
						}
						.title:last-child {
							text-align: right;
						}
					}
					.info {
						display: block;
						margin: 15px 0;
						max-width: 88%;
					}
					.comfort {
						display: block;
						margin: 10px 0;
						& > p {
							max-width: 50%;
						}
					}
				}
				.group-button {
					text-align: right;
					margin: 40px 0 0 0;
					.link {
						.button {
							width: 45%;
							margin: 0;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 1112px) {
	.Rooms {
		.component {
			width: $max - 10%;
			.title {
				font-size: 36px;
			}
			.filter {
				.add-filter {
					font-size: 16px;
					margin-bottom: 30px;
				}
				.wrapper-filter {
					.custom-select {
						.css-2b097c-container {
							font-size: 12px;
							height: 40px;
						}
					}
					.link {
						.button {
							font-size: 12px;
							height: 40px;
						}
					}
				}
			}
			.component-flex {
				.flex {
					.text {
						.text__title_wrrapper {
							.title {
								font-size: calc(0.2rem + 15px);
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 834px) {
	.Rooms {
		.component {
			.title {
				font-size: 24px;
			}
			.filter {
				.wrapper-filter {
					.custom-select {
						width: 60%;
					}
				}
			}
			.component-flex {
				.flex {
					.carousel {
						height: 20rem;
						.carousel-inner {
							height: 20rem;
						}
					}
					.text {
						width: $max;
						.count {
							font-size: 12px;
						}
						.square {
							font-size: 12px;
						}
						.info {
							font-size: 12px;
							margin: 0;
						}
						.comfort {
							margin: 0;
							font-size: 12px;
						}
					}
					.group-button {
						margin: 20px 0 0 0;
						.link {
							.button {
								width: 45%;
								max-width: 200px;
								height: 35px;
								font-size: 12px;
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.Rooms {
		.component {
			padding: 0;
			margin: 80px auto;
			width: $max - 5%;
			.title {
				font-size: 22px;
				text-align: center;
				margin: 20px auto;
			}
			.filter {
				width: $max;
				max-width: 1240px;
				margin: 20px 0;
				.add-filter {
					font-size: 18px;
					margin: 20px 0;
				}
				.wrapper-filter {
					display: block;
					.custom-select {
						width: $max;
						height: 40px;
						.css-2b097c-container {
							width: 33%;
							height: 40px !important;
							font-size: 12px !important;
						}
					}
					.link {
						float: left;
						margin: 40px 0 0 0;
						width: 33%;
						.button {
							margin: 0 !important;
							width: $max;
							border-radius: 0;
							font-size: 12px;
						}
					}
				}
			}
			.component-flex {
				width: $max;
				margin: 30px 0;
				border-radius: 8px;
				display: block;
				.flex {
					width: $max;
					.carousel {
						height: 25rem;
						.carousel-inner {
							height: 25rem;
							.carousel-item {
								img {
									width: $max;
									height: 25em;
								}
							}
						}
					}
					.text {
						.text__title_wrrapper {
							margin: 0;
							.title {
								font-size: calc(0.2rem + 14px);
							}
						}
						.count {
							margin-bottom: 10px;
							font-size: calc(0.2rem + 12px);
						}
						.square {
							margin-bottom: 10px;
							font-size: calc(0.2rem + 12px);
						}
						.info {
							font-size: calc(0.2rem + 12px);
						}
						.comfort {
							font-size: calc(0.2rem + 12px);
							& > p {
								max-width: 90%;
							}
						}
					}
					.group-button {
						display: flex;
						justify-content: center;
						.link {
							.button {
								width: 12rem;
								margin: 30px 0 0 0;
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 414px) {
	.Rooms {
		.component {
			& > .title {
				margin: 0 0 20px 0;
			}
			.component-flex {
				padding: 15px 10px;
				.flex {
					.carousel {
						height: 15rem;
						.carousel-inner {
							height: 15rem;
							.carousel-item {
								img {
									width: $max;
									height: 15em;
								}
							}
						}
					}
					.text {
						.comfort {
							& > div {
								width: $max;
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 320px) {
	.Rooms {
		.component {
			.component-flex {
				.flex {
					.carousel {
						height: 10rem;
						.carousel-inner {
							height: 10rem;
							.carousel-item {
								img {
									width: $max;
									height: 10em;
								}
							}
						}
					}
				}
			}
		}
	}
}
