$max: 100%;
$middle: 50%;
.Canteen {
	.content {
		display: flex;
		justify-content: space-between;
		.flex {
			text-align: left;
			width: $middle;
			& > .title {
				font-size: 36px;
			}
			.title_p {
				float: left;
				& > .p {
					float: left;
					margin: 3.6rem 0;
					width: 330px;
					font-weight: 300;
					line-height: 27px;
				}
			}
			.button_block {
				width: $max;
				float: left;
				.button {
					margin: 0;
				}
			}
		}
		.flex:last-child {
			overflow: hidden;
			& > img {
				width: $max;
				height: $max;
				transition: transform cubic-bezier(0.4, 0, 0.2, 1) 0.35s,
					-webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 0.35s;
				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}
}
@media (max-width: 1024px) {
	.Canteen {
		.content {
			.flex {
				.title {
					font-size: 36px;
				}
				.title_p {
					& > .p {
						font-size: 14px;
						margin: 30px 0;
					}
				}
				.button_block {
					& > .button {
						margin: 0;
					}
				}
			}
		}
	}
}
@media (max-width: 834px) {
	.Canteen {
		.content {
			.flex {
				width: $middle;
				.title_p {
					& > .p {
						width: $max;
						margin: 40px 0;
						line-height: 150%;
					}
				}
				.button_block {
					& > .button {
						margin: 0;
					}
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.Canteen {
		.content {
			display: block;
			padding: 20px 10px;
			.flex {
				width: $max;
				text-align: center;
				& > .title {
					font-size: 22px;
				}
				.title_p {
					width: $max;
					margin: auto;
					& > .p {
						margin: 30px auto;
						width: 100%;
						padding: 0 20px;
						font-size: 14px;
						color: #595858;
					}
				}
				.button_block {
					margin: 30px 0;
					float: none;
					& > .button {
						margin: 0;
					}
				}
				& > img {
					border-radius: 8px;
					max-height: 450px;
					max-width: 700px;
				}
			}
		}
	}
}
