$max: 100%;
.Maps {
	background: #fff0f0;
	.content {
		display: flex;
		width: $max;
		.left {
			width: $middle;
			.maps {
				& > a {
					position: none;
				}
				.yandex-maps {
					width: $max;
					height: 55vmax;
					max-height: 720px;
					border: none;
				}
			}
		}
		.right {
			padding: 40px;
			& > .title {
				font-size: 36px;
				width: $max;
			}
			.icon {
				margin: 20px 0;
				.link {
					&:nth-child(2) {
						margin: 0 15px;
					}
					& > img {
						width: 50px;
						filter: brightness(0.1);
						&:hover {
							box-shadow: none !important;
							transform: none;
						}
					}
				}
			}
			.text {
				width: $max;
				font-size: 24px;
				.wrapper-text {
					.address {
						& > .title {
							font-weight: bold;
							margin: 10px 0;
						}
						.address_link {
							.link {
								color: #000;
							}
						}
					}
					.email {
						margin: 30px 0;
						& > .title {
							margin: 10px 0;
							font-weight: bold;
						}
						.email_link {
							& > .link {
								color: #000;
							}
						}
					}
					.phone {
						.phone_text {
							font-weight: bold;
						}
						.phone_link {
							font-size: 32px;
							font-weight: 500;
							.mobile_phone {
								color: #000;
								display: block;
								margin-top: 20px;
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 1112px) {
	.Maps {
		.content {
			.left {
				.maps {
					.yandex-maps {
						width: $max;
						border: none;
					}
				}
			}
			.right {
				padding: 25px;
				.text {
					.wrapper-text {
						.address {
							& > .address_link {
								font-size: 18px;
							}
						}
						.email {
							& > .email_link {
								font-size: 18px;
							}
						}
						.phone {
							.phone_link {
								font-size: 18px;
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 834px) {
	.Maps {
		.content {
			.right {
				.text {
					.wrapper-text {
						width: $max;
						.phone {
							& > .phone_text {
								font-size: 18px;
							}
							& > .phone_link {
								font-size: 22px;
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.Maps {
		.content {
			display: block;
			margin: auto;
			text-align: center;
			.left {
				width: $max;
				max-width: $max;
				float: none;
				.maps {
					max-height: 400px;
					& > .yandex-maps {
						max-height: 400px;
						border-radius: 8px 8px 0 0;
					}
				}
			}
			.right {
				width: $max;
				max-width: $max;
				float: none;
				padding: 10px 15px;
				box-sizing: border-box;
				text-align: center;
				border-radius: 0 0 8px 8px;
				& > .title {
					float: none;
					margin: 10px auto;
					font-size: 24px;
					width: $max;
				}
				.text {
					text-align: center;
					float: none;
					width: $max;
					font-size: 16px;
					.wrapper-text {
						text-align: left;
						.phone {
							& > .phone_link {
								font-size: 24px;
							}
						}
					}
					.button {
						float: none;
					}
				}
			}
		}
	}
}
@media (max-width: 414px) {
	.Maps {
		.content {
			.left {
				.maps {
					max-height: 300px;
					& > .yandex-maps {
						max-height: 300px;
					}
				}
			}
		}
	}
}
