$w: 100%;
$h: 100%;
@mixin size {
	width: calc(100% - 50%);
	max-width: calc(100% - 50%);
}
@mixin width {
	width: $w;
	max-width: $w;
}
.MenuFirst {
	.content {
		& > .text {
			float: left;
			text-align: left;
			@include size;
			& > .title {
				font-size: 36px;
			}
			.title_p {
				float: left;
				& > .p {
					float: left;
					margin: 50px 0;
					width: 330px;
					font-weight: 300;
					line-height: 27px;
				}
			}
			.button_block {
				width: $w;
				float: left;
				& > .backdrop {
					z-index: 999;
					position: fixed;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					background: rgba(0, 0, 0, 0.9);
					display: flex;
					justify-content: center;
					.wrapper-backdrop {
						.wrapper-image {
							width: 800px;
							height: $h;
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: center;
							.nav-image {
								position: relative;
								display: flex;
								justify-content: flex-end;
								background: #2d2a2e;
								height: 35px;
								width: 50%;
								& > .btn-nav {
									position: absolute;
									width: 30px;
									height: 30px;
									top: 0;
									right: 10px;
									background: transparent;
									cursor: pointer;
									animation: 3s ease-in 1s infinite reverse both running slidein;
									&:hover {
										background: #2d2a2e;
										& > :nth-child(1) {
											background: #000;
										}
										& > :nth-child(2) {
											background: #000;
										}
									}
									& > :nth-child(1) {
										position: absolute;
										top: 15px;
										left: 5px;
										background: #fff;
										transform: rotate(45deg);
										width: 25px;
										height: 2.5px;
									}
									& > :nth-child(2) {
										position: absolute;
										top: 15px;
										left: 5px;
										background: #fff;
										transform: rotate(-45deg);
										width: 25px;
										height: 2.5px;
									}
								}
							}
							.image {
								max-width: 500px;
							}
						}
					}
				}
			}
		}
		.image {
			position: relative;
			float: right;
			@include size;
			overflow: hidden;
			& > img {
				width: $w;
				max-height: 550px;
				transition: transform cubic-bezier(0.4, 0, 0.2, 1) 0.3s,
					-webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
				&:hover {
					transform: scale(1.2);
				}
			}
		}
	}
}
@media (max-width: 1112px) {
	.MenuFirst {
		.content {
			& > .text {
				.button_block {
					& > .backdrop {
						.wrapper-backdrop {
							display: flex;
							align-items: center;
							.wrapper-image {
								height: 80%;
								.nav-image {
									width: 50%;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 1024px) {
	.MenuFirst {
		.content {
			.text {
				.title {
					font-size: 36px;
				}
				.title_p {
					& > .p {
						font-size: 14px;
						margin: 30px 0;
					}
				}
				.button_block {
					& > .button {
						margin: 0;
					}
					& > .backdrop {
						.wrapper-backdrop {
							display: flex;
							align-items: center;
							.wrapper-image {
								height: $h;
								.nav-image {
									width: 50%;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 834px) and (orientation: portrait) {
	.MenuFirst {
		.content {
			.text {
				width: 45%;
				max-width: 45%;
				.title_p {
					& > .p {
						width: $w;
						margin: 40px 0;
						line-height: 150%;
					}
				}
				.button_block {
					& > .button {
						margin: 0;
					}
					& > .backdrop {
						.wrapper-backdrop {
							display: flex;
							align-items: center;
							.wrapper-image {
								height: $h;
								.nav-image {
									width: 62.5%;
								}
								.image {
									width: $w;
									max-width: 500px;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.MenuFirst {
		.content {
			padding: 20px 10px;
			.text {
				@include width;
				float: none;
				text-align: center;
				& > .title {
					font-size: 22px;
				}
				.title_p {
					width: $w;
					margin: auto;
					& > .p {
						margin: 30px auto;
						width: $w;
						font-size: 14px;
						color: #595858;
					}
				}
				.button_block {
					margin: 30px 0;
					float: none;
					& > .button {
						margin: 0;
					}
				}
			}
			.image {
				float: none;
				@include width;
				& > img {
					border-radius: 8px;
					max-height: 350px;
					max-width: 500px;
				}
			}
		}
	}
}
@media (max-width: 414px) {
	.MenuFirst {
		.content {
			.text {
				.button_block {
					& > .button {
						margin: 0;
					}
					& > .backdrop {
						.wrapper-backdrop {
							display: flex;
							align-items: center;
							.wrapper-image {
								height: $h;
								.nav-image {
									position: absolute;
									top: 100px;
									width: 73%;
								}
								.image {
									width: $w;
									max-width: 300px;
								}
							}
						}
					}
				}
			}
		}
	}
}
