$max: 100%;
$middle: 50%;
.Numbers {
	.container-num {
		width: $max;
		flex-wrap: wrap;
		& > .title {
			font-size: 36px;
			text-align: center;
			margin: 0 auto 50px auto;
		}
		.leftListItems {
			float: left;
			width: calc(100% - 65%);
			min-width: 30%;
			.list {
				width: $max;
				.column {
					cursor: pointer;
					box-shadow: 0 0.1rem 0.5rem rgba(32, 34, 36, 0.1),
						0 0.5rem 1rem -0.75rem rgba(32, 34, 36, 0.1);
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					padding: 10px;
					margin-bottom: 40px;
					transition: all 0.35s ease-in-out;
					&:hover {
						box-shadow: 0 0.1rem 2.5rem rgba(32, 34, 36, 0.1),
							0 0.5rem 0.1rem -0.75rem rgba(32, 34, 36, 0.1) !important;
						transform: translate3d(0, -3px, 0);
					}
					.image {
						position: relative;
						width: calc(100% - 51%);
						margin: 0 auto;
						& > img {
							width: $max;
						}
					}
					.text {
						width: calc(100% - 55%);
						color: #848484;
						& > .title {
							text-align: left;
							font-size: 24px;
							color: #000;
						}
						& > .amount {
							margin: 10px 0;
							font-size: 16px;
						}
						& > .square {
							margin: 10px 0;
							font-size: 16px;
						}
						& > .p {
							font-size: 16px;
						}
					}
				}
				.group-button {
					display: none;
				}
			}
		}
		.rightImage {
			position: relative;
			float: right;
			width: calc(100% - 40%);
			max-width: calc(100% - 40%);
			min-width: calc(100% - 50%);
			padding: 15px;
			box-shadow: 0 1rem 2.5rem rgba(32, 34, 36, 0.1), 0 0.5rem 2rem -0.75rem rgba(32, 34, 36, 0.1);
			.image {
				position: relative;
				width: $max;
				height: $max;
				max-height: 550px;
				overflow: hidden;
				& > img {
					width: $max;
					height: $max;
					min-height: 550px;
					max-height: 550px;
					transition: transform cubic-bezier(0.4, 0, 0.2, 1) 0.55s,
						-webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 0.55s;
					&:hover {
						transform: scale(1.1);
					}
				}
				.first-text,
				.second-text,
				.third-text {
					color: #fff;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 80%;
					padding: 20px;
					text-align: left;
					background: rgba(0, 0, 0, 0.25);
					.title {
						width: 45%;
						float: left;
						font-size: 24px;
					}
					.price {
						width: 45%;
						float: right;
						font-size: 24px;
					}
					.count {
						width: $max;
						float: left;
						margin: 10px 0;
					}
					.squad {
						width: $max;
						float: left;
					}
					.info {
						float: left;
						width: 70%;
						margin: 15px 0;
						font-weight: 200;
					}
				}
			}
		}
	}
}
@media (max-width: 1112px) {
	.Numbers {
		.container-num {
			.leftListItems {
				width: $max;
				max-width: calc(100% - 55%);
			}
			.rightImage {
				width: calc(100% - 60%);
				& > .image {
					.first-text,
					.second-text,
					.third-text {
						width: $max;
						.title {
							font-size: 18px;
						}
						.price {
							font-size: 18px;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 1024px) {
	.Numbers {
		.container-num {
			& > .title {
				font-size: 36px;
			}
			.leftListItems {
				width: 45%;
				.list {
					& > .column {
						& > .text {
							.title {
								font-size: 22px;
							}
							.amount {
								font-size: 12px;
							}
							.square {
								font-size: 12px;
							}
						}
					}
				}
			}
			.rightImage {
				width: 45%;
				& > .image {
					.first-text,
					.second-text,
					.third-text {
						width: $max;
						bottom: 3px;
						& > .title {
							font-size: 18px;
						}
						& > .price {
							font-size: 18px;
						}
						& > .count {
							font-size: 12px;
						}
						& > .squad {
							font-size: 12px;
						}
						& > .info {
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 834px) {
	.Numbers {
		.container-num {
			.leftListItems {
				float: none;
				width: $max;
				max-width: $max;
				text-align: center;
				.list {
					.column {
						.text {
							padding: 10px 0;
							text-align: left;
							.title {
								font-size: 26px;
							}
							.amount {
								font-size: 18px;
								width: $max;
							}
							.square {
								font-size: 18px;
								width: $max;
							}
							.p {
								font-size: 18px;
								width: $max;
							}
						}
					}
					.group-button {
						display: none;
					}
				}
				.group-button {
					display: block;
					.link {
						& > .button {
							width: $middle + 10%;
							height: 40px;
						}
					}
				}
			}
			.rightImage {
				display: none;
			}
		}
	}
}
@media (max-width: 768px) {
	.Numbers {
		.container-num {
			padding: 10px 0;
			.title {
				font-size: 26px;
				margin: 10px auto;
			}
			.leftListItems {
				float: none;
				width: $max;
				max-width: $max;
				.list {
					float: none;
					width: $max;
					max-width: $max;
					padding: 0;
					.column {
						z-index: 0;
						position: relative;
						box-shadow: none !important;
						display: block;
						padding: 10px;
						border-radius: 0;
						border-bottom: 0.1px solid #2e2e2e2e;
						.image {
							width: $max;
							padding: 0 10px;
							max-width: 700px;
						}
						.text {
							width: $max !important;
							color: #848484;
							padding: 10px 15px;
							text-align: left;
							& > .title {
								text-align: left;
								font-size: 26px;
								color: #000;
							}
							& > .amount {
								margin: 10px 0;
								font-size: 16px;
							}
							& > .square {
								margin: 10px 0;
								font-size: 16px;
							}
							& > .p {
								font-size: 16px;
							}
						}
					}
					& > .group-button {
						display: block;
						margin: 20px auto;
						.link {
							.button {
								width: $middle;
								height: 40px;
								max-width: 250px;
								background: #fff;
								color: #ff7b51;
								border: 1px solid #ff7b51;
							}
						}
					}
				}
				.group-button {
					margin: 35px 0;
					.link {
						& > .button {
							width: $max - 20%;
							max-width: 350px;
							margin: 0;
						}
					}
				}
			}
			.rightImage {
				display: none;
			}
		}
	}
}
