$w: 100%;
.Promotion {
	width: $w;
	max-height: 600px;
	background-image: url("../../assets/images/4.png");
	background-size: cover;
	background-position: center;
	padding: 100px 0;
	margin: 50px auto;
	.content {
		display: block;
		margin: auto;
		max-width: 1240px;
		background: rgba(0, 0, 0, 0.25);
		padding: 25px 50px;
		box-sizing: border-box;
		color: #fff;
		& > .title {
			font-weight: bold;
			font-size: 36px;
		}
		& > .p {
			margin: 20px 0;
			line-height: 150%;
			width: 300px;
			font-size: 18px;
		}
	}
}
@media (max-width: 1024px) and (orientation: portrait) {
	.Promotion {
		margin: 0;
		.content {
			width: 90%;
		}
	}
}
@media (max-width: 768px) {
	.Promotion {
		padding: 100px 15px;
		.content {
			max-width: $w;
			padding: 20px;
			text-align: center;
			& > .title {
				font-size: 22px;
			}
			& > .p {
				width: auto;
				font-size: 14px;
			}
			.link {
				display: block;
				max-width: 200px;
				margin: 0 auto;
				.button {
					width: $w;
					font-size: 12px;
					margin: 20px auto;
				}
			}
		}
	}
}
