$w: 100%;
$h: 100%;
@mixin size {
	width: calc(100% - 50%);
	max-width: calc(100% - 50%);
}
@mixin width {
	width: $w;
	max-width: $w;
}
.MenuSecond {
	.content {
		& > .text {
			float: right;
			text-align: right;
			@include size;
			& > .title {
				font-size: 36px;
			}
			.title_p {
				float: right;
				& > .p {
					float: right;
					margin: 50px 0;
					width: 330px;
					font-weight: 300;
					line-height: 27px;
				}
			}
			.button_block {
				width: $w;
				float: right;
				& > div {
					display: flex;
					justify-content: center;
					position: absolute;
					width: $w;
					height: 192.4vmax;
					left: 0;
					top: 255vmax;
					background: rgba(0, 0, 0, 0.7);
					background-size: cover;
					.image {
						z-index: 1;
						width: 50%;
						max-width: 500px;
					}
				}
			}
		}
		.image {
			float: left;
			@include size;
			& > img {
				width: $w;
				max-height: 550px;
			}
		}
	}
}
@media (max-width: 1112px) {
	.MenuSecond {
		.content {
			.text {
				.button_block {
					& > div {
						display: flex;
						justify-content: center;
						position: absolute;
						width: $w;
						height: 323vmax;
						left: 0;
						top: 330vmax;
						background: rgba(0, 0, 0, 0.7);
						background-size: cover;
						.image {
							z-index: 1;
							width: 50%;
							max-width: 400px;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 1024px) {
	.MenuSecond {
		.content {
			.text {
				.button_block {
					& > div {
						display: flex;
						justify-content: center;
						position: absolute;
						width: $w;
						height: 267vmax;
						left: 0;
						top: 380vmax;
						background: rgba(0, 0, 0, 0.7);
						background-size: cover;
						.image {
							z-index: 1;
							width: 50%;
							max-width: 400px;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 834px) and (orientation: portrait) {
	.MenuSecond {
		.content {
			.text {
				width: 45%;
				max-width: 45%;
				.title_p {
					& > .p {
						width: $w;
						margin: 40px 0;
						line-height: 150%;
					}
				}
				.button_block {
					& > .button {
						margin: 0;
					}
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.MenuSecond {
		.content {
			padding: 20px 10px;
			.text {
				@include width;
				margin: 30px 0;
				float: none;
				text-align: center;
				& > .title {
					font-size: 22px;
				}
				.title_p {
					width: $w;
					margin: auto;
					& > .p {
						margin: 30px auto;
						width: $w;
						padding: 0 20px;
						font-size: 14px;
						color: #595858;
					}
				}
				.button_block {
					margin: 30px 0;
					float: none;
					& > .button {
						margin: 0;
					}
					& > div {
						display: flex;
						justify-content: center;
						position: absolute;
						width: $w;
						height: 317.5vmax;
						left: 0;
						top: 380vmax;
						background: rgba(0, 0, 0, 0.7);
						background-size: cover;
						.image {
							z-index: 1;
							width: 50%;
							max-width: 400px;
						}
					}
				}
			}
			.image {
				float: none;
				@include width;
				& > img {
					border-radius: 8px;
					max-height: 280px;
					max-width: 500px;
				}
			}
		}
	}
}
@media (max-width: 414px) {
	.MenuSecond {
		.content {
			.text {
				.button_block {
					& > .button {
						margin: 0;
					}
					& > div {
						display: flex;
						justify-content: center;
						position: absolute;
						width: $w;
						height: 255vmax;
						left: 0;
						top: 665vmax;
						background: rgba(0, 0, 0, 0.7);
						background-size: cover;
						.image {
							z-index: 1;
							width: 80%;
							max-width: 400px;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 375px) {
	.MenuSecond {
		.content {
			.text {
				.button_block {
					& > div {
						display: flex;
						justify-content: center;
						position: absolute;
						width: $w;
						height: 232vmax;
						left: 0;
						top: 600vmax;
						background: rgba(0, 0, 0, 0.7);
						background-size: cover;
						.image {
							z-index: 1;
							width: 80%;
							max-width: 400px;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 320px) {
	.MenuSecond {
		.content {
			.text {
				.button_block {
					& > div {
						display: flex;
						justify-content: center;
						position: absolute;
						width: $w;
						height: 301vmax;
						left: 0;
						top: 920vmax;
						background: rgba(0, 0, 0, 0.7);
						background-size: cover;
						.image {
							z-index: 1;
							width: 90%;
							max-width: 400px;
						}
					}
				}
			}
		}
	}
}
