$w: 100%;
$h: 100%;

.Filter {
	width: $w;
	padding: 20px 0;
	box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.35);
	.wrapper-filter {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		width: $w;
		max-width: 1240px;
		height: $h;
		.custom-select {
			display: flex;
			justify-content: space-between;
			.css-2b097c-container {
				z-index: 1;
				width: 30vmin;
				max-width: 180px;
				font-size: 16px;
				height: 40px;
				text-align: left;
				box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
				transition: all 1s ease;
				&:nth-child(2) {
					margin: 0 30px;
				}
				&:hover {
					box-shadow: 0 0.1rem 2.5rem rgba(32, 34, 36, 0.1),
						0 0.5rem 0.1rem -0.75rem rgba(32, 34, 36, 0.1) !important;
					transform: translate3d(0, -3px, 0);
				}
				.css-1okebmr-indicatorSeparator {
					display: none;
				}
				.css-1laao21-a11yText {
					cursor: pointer;
				}
				.css-1pahdxg-control {
					cursor: pointer;
					border: none;
					box-shadow: none;
					height: $h;
				}
				.css-26l3qy-menu {
					cursor: pointer;
					&:hover {
						background: #fff;
					}
				}
				.css-yk16xz-control {
					width: $w;
					height: $h;
					border: none;
					outline: none;
					cursor: pointer;
					&:hover {
						color: #000;
					}
					.css-g1d714-ValueContainer {
						height: $h;
						.css-1uccc91-singleValue {
							color: #848484;
							&:hover {
								color: #000;
							}
						}
					}
					.css-1wa3eu0-placeholder {
						width: $w;
					}
				}
			}
		}
		.link {
			display: flex;
			.button {
				margin: 0;
				width: 30vmin;
				max-width: 180px;
				font-size: 16px;
				height: 40px;
			}
		}
	}
}
@media (max-width: 1112px) {
	.Filter {
		.wrapper-filter {
			.link {
				.button {
					width: 17vmin;
					font-size: 12px;
				}
			}
		}
	}
}
@media (max-width: 1024px) and (orientation: portrait) {
	.Filter {
		.wrapper-filter {
			width: $w;
			justify-content: space-between;
			flex-wrap: wrap;
			.custom-select {
				margin: 0;
			}
			.link {
				width: 20%;
				& > .button {
					width: $w;
					font-size: 12px;
				}
			}
		}
	}
}
@media (max-width: 834px) and (orientation: portrait) {
	.Filter {
		.wrapper-filter {
			width: $w !important;
			margin: 0;
			justify-content: space-between;
			.custom-select {
				width: 75%;
				.css-2b097c-container {
					width: 25%;
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.Filter {
		display: none;
	}
}
