$w: 100%;

.Maps {
	background: #fff0f0;
	.content {
		display: block;
		width: $w;
		height: $w;
		.left {
			float: left;
			width: 50%;
			max-width: 55%;
			.maps {
				max-height: 607px;
				.yandex-maps {
					width: $w;
					height: 60vmax;
					border: none;
				}
			}
		}
		.right {
			width: 50%;
			max-width: 50%;
			float: right;
			padding: 20px;
			& > .title {
				font-size: 36px;
				width: $w;
			}
			.icon {
				margin: 20px 0;
				.link {
					&:nth-child(2) {
						margin: 0 15px;
					}
					& > img {
						width: 50px;
						filter: brightness(0.1);
						&:hover {
							box-shadow: none !important;
							transform: none;
						}
					}
				}
			}
			.text {
				float: right;
				width: $w;
				font-size: 24px;
				.address {
					& > .title {
						font-weight: bold;
						margin: 10px 0;
					}
					.address_link {
						.link {
							color: #000;
						}
					}
				}
				.email {
					margin: 30px 0;
					& > .title {
						margin: 10px 0;
						font-weight: bold;
					}
					.email_link {
						& > .link {
							color: #000;
						}
					}
				}
				.phone {
					.phone_link {
						font-size: 32px;
						font-weight: 500;
						margin: 10px 0;
						.link {
							color: #000;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 1112px) {
	.Maps {
		.content {
			.right {
				.text {
					.address {
						& > .address_link {
							font-size: 18px;
						}
					}
					.email {
						& > .email_link {
							font-size: 18px;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 834px) {
	.Maps {
		.content {
			.right {
				.text {
					.phone {
						& > .phone_text {
							font-size: 18px;
						}
						& > .phone_link {
							font-size: 22px;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.Maps {
		.content {
			display: block;
			margin: auto;
			text-align: center;
			.left {
				width: $w;
				max-width: $w;
				float: none;
				.maps {
					height: 300px;
					& > .yandex-maps {
						height: 300px;
						border-radius: 8px 8px 0 0;
					}
				}
			}
			.right {
				width: $w;
				max-width: $w;
				float: none;
				padding: 10px 15px;
				box-sizing: border-box;
				text-align: center;
				border-radius: 0 0 8px 8px;
				& > .title {
					float: none;
					margin: 10px auto;
					font-size: 24px;
					width: $w;
				}
				.text {
					text-align: left;
					float: none;
					width: $w;
					font-size: 16px;
					.phone {
						& > .phone_link {
							font-size: 24px;
						}
					}
				}
				.button {
					float: none;
				}
			}
		}
	}
}
