$max: 100%;
@mixin reset-width {
	float: none;
	width: $max;
	max-width: $max;
}
.Rooms {
	width: $max;
	& > .component {
		text-align: center;
		margin: 100px auto !important;
		padding: 30px 0;
		.content {
			text-align: center;
			flex-wrap: wrap;
			.title {
				font-size: 48px;
				text-align: center;
			}
			.add-filter {
				text-align: left;
				font-size: 18px;
				margin: 15px 0;
			}
			.filter {
				width: $max;
				max-width: 1240px;
				text-align: left;
				.wrapper-filter {
					display: flex;
					justify-content: space-between;
					width: $max;
					.custom-select {
						margin: 0;
						width: 50%;
						max-width: 1240px;
						display: flex;
						.css-2b097c-container {
							width: 33%;
							height: 50px;
							font-size: 16px;
						}
					}
					.button_block {
						width: 20%;
						.button {
							float: right;
							width: 90%;
							height: 50px;
							margin: 0;
						}
					}
				}
			}
			.component-block {
				display: flex;
				justify-content: space-between;
				width: $max;
				max-width: 1240px;
				padding: 25px 30px;
				margin: 40px auto;
				box-shadow: 0 0.1rem 0.5rem rgba(32, 34, 36, 0.1),
					0 0.5rem 1rem -0.75rem rgba(32, 34, 36, 0.1) !important;
				.left {
					float: left;
					width: 48%;
					max-width: 48%;
					.slider {
						height: 400px;
						ul {
							li {
								margin: 0 5px;
							}
						}
						.slider-slide {
							position: relative;
							overflow: hidden;
							& > img {
								cursor: default;
								display: flex;
								align-items: center;
								justify-content: center;
								height: 400px;
								max-height: 400px;
								transition: transform cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
								&:hover {
									transform: scale(1.2);
								}
							}
						}
						.each-slide {
							.slide-show {
								& > img {
									width: 300px;
									height: 200px;
								}
							}
						}
						.react-slideshow-container {
							height: 400px;
						}
						.slider-control-centerleft {
							display: none;
						}
						.slider-control-centerright {
							display: none;
						}
					}
				}
				.right {
					float: right;
					width: 48%;
					max-width: 48%;
					text-align: right;
					.text {
						display: inline-block;
						text-align: left;
						color: #848484;
						& > .title {
							float: left;
							text-align: left;
							font-size: 24px;
							color: #000;
						}
						& > .price {
							float: right;
							text-align: right;
							font-size: 24px;
							color: #000;
						}
						& > .count {
							float: left;
							width: $max;
							margin: 10px 0;
						}
						& > .square {
							float: left;
							width: $max;
						}
						& > .info {
							float: left;
							width: $max;
							margin: 15px 0;
							& > div {
								max-width: 88%;
								margin: 10px 0;
							}
						}
						& > .comfort {
							float: left;
							width: $max;
							margin: 10px 0;
							& > p {
								margin: 10px 0;
							}
							& > div {
								max-width: 50%;
							}
						}
					}
					.link {
						display: block;
						height: 40px;
						text-align: right;
						margin: 80px 0 0 0;
						.button {
							width: 15vmax;
							margin: 0;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 1112px) {
	.Rooms {
		& > .component {
			.content {
				& > .title {
					font-size: 36px;
				}
				.filter {
					.add-filter {
						font-size: 16px;
						margin-bottom: 30px;
					}
					.wrapper-filter {
						.custom-select {
							.css-2b097c-container {
								font-size: 12px;
								height: 40px;
							}
						}
						.link {
							.button {
								font-size: 12px;
								height: 40px;
							}
						}
					}
				}
				.component-block {
					.right {
						.link {
							.button {
								width: 180px;
								height: 40px;
								margin: 0;
								font-size: 14px;
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 1024px) {
	.Rooms {
		& > .component {
			.content {
				.component-block {
					.right {
						.text {
							& > .comfort {
								& > div {
									max-width: 80%;
								}
							}
						}
						.link {
							.button {
								width: 150px;
								height: 40px;
								font-size: 14px;
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 834px) and (orientation: portrait) {
	.Rooms {
		& > .component {
			.content {
				& > .title {
					font-size: 24px;
				}
				.filter {
					.wrapper-filter {
						.custom-select {
							width: 60%;
						}
					}
				}
				.component-block {
					.right {
						.text {
							width: $max;
							& > .title {
								font-size: 16px;
							}
							& > .price {
								font-size: 16px;
							}
							& > .count {
								font-size: 12px;
							}
							& > .square {
								font-size: 12px;
							}
							& > .info {
								font-size: 12px;
								margin: 0;
							}
							& > .comfort {
								margin: 0;
								font-size: 12px;
								& > div {
									width: $max;
									max-width: 80%;
								}
							}
						}
						.link {
							margin: 20px 0 0 0;
							.button {
								width: 150px;
								height: 35px;
								font-size: 12px;
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.Rooms {
		& > .component {
			.content {
				width: $max;
				& > .title {
					font-size: 22px;
					text-align: center;
					margin: 20px auto;
				}
				.filter {
					width: $max;
					max-width: 1240px;
					margin: 20px 0;
					.add-filter {
						font-size: 18px;
						margin: 20px 0;
					}
					.wrapper-filter {
						display: block;
						.custom-select {
							width: $max;
							height: 40px;
							.css-2b097c-container {
								width: 33%;
								height: 40px !important;
								font-size: 12px !important;
							}
						}
						.link {
							float: left;
							margin: 40px 0 0 0;
							width: 33%;
							.button {
								margin: 0 !important;
								width: $max;
								border-radius: 0;
								font-size: 12px;
							}
						}
					}
				}
				.component-block {
					width: $max;
					padding: 20px 10px;
					margin: 30px 0;
					border-radius: 8px;
					.left {
						max-width: 50%;
						.slider {
							height: 300px;
							.slider-slide {
								& > img {
									height: 300px;
								}
							}
						}
					}
					.right {
						max-width: 48%;
						text-align: right;
						.text {
							text-align: left;
							& > .title {
								font-size: 20px;
							}
							& > .price {
								// float: none;
								font-size: 20px;
							}
							& > .count {
								margin: 10px 0;
								width: $max;
								font-size: 14px;
							}
							& > .square {
								// float: none;
								width: $max;
								font-size: 14px;
							}
							& > .info {
								// float: none;
								width: $max;
								font-size: 14px;
								& > div {
									float: none;
								}
							}
							& > .comfort {
								// float: none;
								line-height: 150%;
								font-size: 14px;
								& > div {
									width: 80%;
								}
							}
						}
						.link {
							.button {
								float: right;
								margin: 0;
								width: 140px;
								height: 35px;
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 414px) {
	.Rooms {
		& > .component {
			.content {
				& > .title {
					margin: 20px auto;
				}
				.add-filter {
				}

				.component-block {
					flex-direction: column;
					.left {
						width: $max;
						max-width: $max;
						float: none;
					}
					.right {
						width: $max;
						max-width: $max;
						float: none;
						text-align: center;
						padding: 20px 0;
						.text {
							.title {
								font-size: 18px;
							}
							.price {
								font-size: 18px;
							}
							.count {
								float: left;
							}
							.comfort {
								& > div {
									width: $max;
								}
							}
						}
						.link {
							display: flex;
							justify-content: center;
							margin: 0;
							.button {
								margin: 30px 0 0 0;
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 320px) {
	.Rooms {
		& > .component {
			.content {
				.component-block {
					.left {
						.slider {
							height: 230px;
							.slider-slide {
								& > img {
									height: 230px;
								}
							}
						}
					}
					.right {
						.text {
							.title {
								font-size: 14px;
							}
							.price {
								font-size: 14px;
							}
							.info {
								float: none;
								& > div {
									max-width: $max;
								}
							}
							.comfort {
								& > div {
									width: $max;
									max-width: 95%;
								}
							}
						}
						.button {
							width: 25vmax;
							height: 7vmax;
							margin: 10px 0;
						}
					}
				}
			}
		}
	}
}
